.card {
    margin-top: 4rem;
    display: flex;
    width: 57.875rem;
    height: 21.5rem;
    padding-right: 1.5rem;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    border-radius: 1.75rem;
    background: var(--sys-light-surface-variant, #FFF);
    box-shadow: 0px 4px 6px -2px rgba(62, 60, 62, 0.04), 0px 4px 28px 4px rgba(62, 60, 62, 0.12);
}

.card-picture {
    width: 24.375rem;
    height: 21.5rem;
    flex-shrink: 0;
    border-top-left-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
}

.card-details {
    display: flex;
    width: 29.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0;
    margin: 2.5rem 0 2.5rem 1.5rem;
}

.card-details h3 {
    align-self: stretch;
    color: var(--sys-light-on-surface, #3E3C3E);
    margin: 0;
    /* Display xs/bold */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;

}

.card-details p {
    align-self: stretch;
    color: var(--sys-light-on-surface, #3E3C3E);
    margin: 0;

    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;

}

.card-details button {
    display: flex;
    padding: 0.5rem 0.25rem;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.25rem;
    color: var(--sys-light-primary, #0762C8);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    border: 0;
    background-color: #FFF;
    cursor: pointer;
    /* 150% */
}

.card-details button svg {
    width: 1rem;
    height: 1rem;
}

.card-details-tags {
    display: flex;
    width: auto;
    height: 1.75rem;
    align-items: flex-start;
    gap: 0.75rem;
}

.card-details-tags p {
    display: flex;
    align-items: flex-start;
    width: auto;
    padding: 0.25rem 0.75rem;
    justify-content: center;
    align-items: center;
    margin: 0 0.25rem 0 0;
    border-radius: 1rem;
    background: var(--sys-light-information-container, #E0F2FE);
    color: var(--sys-light-on-information-container, #055580);
    text-align: center;

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}


/* responsive design */
/* for large screens (desktops, laptops) */
@media screen and (min-width: 992px) and (max-width: 1024px) {

}

/* medium screens  tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
        margin-top: 3rem;
        margin-left: 1.5rem;
        width: 40.875rem;
        height: 19rem;
        padding-right: 1rem;
        gap: 0.8rem;
    }
    
    .card-picture {
        width: 21rem;
        height: 19rem;
    }
    
    .card-details {
        width: 19rem;
        gap: 1rem;
        margin: 2rem 0 1.5rem 0.5rem;
    }
    
    .card-details h3 {
        font-size: 1rem;
        line-height: 1.75rem;
    
    }
    
    .card-details p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    
    }
    
    .card-details button {
        padding: 0.5rem 0.25rem;
        gap: 0.25rem;
        font-size: 0.9rem;
        line-height: 1rem;
    }
    
    .card-details button svg {
        width: 0.9rem;
        height: 0.9rem;
    }
    
    .card-details-tags {
        height: 1.5rem;
        gap: 0.5rem;
    }
    
    .card-details-tags p {
        padding: 0.25rem 0.75rem;
        margin: 0 0.25rem 0 0;
        font-size: 0.7rem;
        line-height: 1rem;
    }
    
}

/* small screens phones */
@media screen and (min-width: 0px) and (max-width: 767px){
   
    
    .card {
        margin-top: 1.5rem;
        margin-left:0.5rem;
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: 26.5rem;
        padding:1rem;
        gap: 0rem;
                
    }
    
    .card-picture {
        border-top-left-radius: 1.75rem;
        border-top-right-radius: 1.75rem;
        border-bottom-left-radius: 0rem;
        width: 15.85rem;
        height: 12rem;
    }
    
    .card-details {
        display: flex;
        width: 17.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.3rem;
        margin: 0 0.5 0 0;
    }
    
    .card-details h3 {
        font-size: 1rem;
        line-height: 0.9rem;
    }
    
    .card-details p {
        margin: 0 1.3rem 0   0;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    
    .card-details button {
        display: flex;
        padding: 0.25rem 0.15rem;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }
    
    .card-details button svg {
        width: 0.75rem;
        height: 0.75rem;
    }
    
    .card-details-tags {
        height: 1.5rem;
        gap: 0.75rem;
    }
    
    .card-details-tags p {
        padding: 0.15rem 0.5rem;
        margin: 0 0.15rem 0 0;
        font-size: 0.6rem;
        line-height: 1rem;
    }
    
    
}