.hero {
    padding: 0.5rem 0 0.5rem 0;
    
}

.hero h1 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    color: #3E3C3E;
    margin-top: 10rem;
    text-align: center;
    font-weight: 700;
    line-height: 5.625rem;
    letter-spacing: -0.09rem;
    margin-bottom: 2rem;
}

.hero-text {
    
    align-items: center;
   /* Adjust as needed */
}

.selection svg { 
    position: absolute;
    width: 15.30rem; /* Adjust as needed */
    margin-left: -0.7rem;
    margin-top: -0.49514rem;
   /* Adjust as needed */
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
 .selection-anim {
    animation: fadeOut 0.6s ease-in-out forwards;
}   

.userLana {
    position: absolute;
    top: 5.75rem;
    right: 31.25rem;
    
}

@keyframes moveLana {
    0% {
        top: 5.75rem;
        right: 31.25rem;
    }
    100% {
        top: -7rem;
        right: 15rem; 
        
    }
}

.userLana-anim {
    animation: moveLana 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.userJoseph {
    position: absolute;
    top: 23.44rem;
    right: 18.75rem;
    
}

@keyframes moveJoseph{
    0% {
        top: 23.44rem;
    right: 18.75rem;
    }
    100% {
        top: 9rem;
    right: -23rem;
    }
}


.userJoseph-anim {
    animation: moveJoseph 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.userOlivia{
    position: absolute;
    top:  35%;
    left: 10%; 
}

@keyframes moveOlivia{
    0% {
        top:  35%;
    left: 10%;  
    }
    100% {
        left: -10%;
    }
}

.userOlivia-anim {
    animation: moveOlivia 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.location-container {
    color: var(--sys-light-on-background-variant, #7D7F82);
    display: flex;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}


.ds-info {
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 57.875rem;
    transition: opacity 0.3s ease-in;
    

}

.info-intro h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--sys-light-on-background, #3E3C3E);

}

.info-intro p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--sys-light-on-background, #3E3C3E);

}

.ft-info {
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 57.875rem;
    transition: opacity 0.3s ease-in;
    display: none;
}

