.hero {
    padding: 0.5rem 0 0.5rem 0;
    
}

.hero h1 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    color: #3E3C3E;
    margin-top: 10rem;
    text-align: center;
    font-weight: 700;
    line-height: 5.625rem;
    letter-spacing: -0.09rem;
    margin-bottom: 2rem;
}

.hero-text {
    
    align-items: center;
   /* Adjust as needed */
}

.selection svg { 
    position: absolute;
    width: 15.30rem; /* Adjust as needed */
    margin-left: -0.7rem;
    margin-top: -0.49514rem;
   /* Adjust as needed */
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
 .selection-anim {
    animation: fadeOut 0.6s ease-in-out forwards;
}   

.userLana {
    position: absolute;
    top: 5.75rem;
    right: 31.25rem;
    
}

@keyframes moveLana {
    0% {
        top: 5.75rem;
        right: 31.25rem;
    }
    100% {
        top: -7rem;
        right: 15rem; 
        
    }
}

.userLana-anim {
    animation: moveLana 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.userJoseph {
    position: absolute;
    top: 23.44rem;
    right: 18.75rem;
    
}

@keyframes moveJoseph{
    0% {
        top: 23.44rem;
    right: 18.75rem;
    }
    100% {
        top: 9rem;
    right: -23rem;
    }
}


.userJoseph-anim {
    animation: moveJoseph 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.userOlivia{
    position: absolute;
    top:  35%;
    left: 10%; 
}

@keyframes moveOlivia{
    0% {
        top:  35%;
    left: 10%;  
    }
    100% {
        left: -10%;
    }
}

.userOlivia-anim {
    animation: moveOlivia 0.6s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.location-container {
    color: var(--sys-light-on-background-variant, #7D7F82);
    display: flex;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}


.ds-info {
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 57.875rem;
    transition: opacity 0.3s ease-in;
}

.info-intro h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--sys-light-on-background, #3E3C3E);

}

.info-intro p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--sys-light-on-background, #3E3C3E);

}

.ft-info {
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 57.875rem;
    transition: opacity 0.3s ease-in;
    display: none;
}


/* responsive design */
/* for large screens (desktops, laptops) */
@media screen and (min-width: 992px) and (max-width: 1024px) {

}

/* medium screens  tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero h1 {
        font-size: 2.5rem;
         margin: 6.5rem 0.4rem;
         line-height: 2.5rem;
         margin-bottom: 1.25rem;
     }
         
     .selection svg { 
         position: absolute;
         width: 10rem; /* Adjust as needed */
         margin-left: -0.45rem;
         margin-top: -2rem;
     /* Adjust as needed */
     }
     
     .userLana {
         position: absolute;
         width:6rem;
         height:6rem;
         top: 2rem;
         right: 2.5rem;
         
     }
 
     @keyframes moveLana {
         0% {
             top: 2rem;
             right: 1.5rem;
         }
         100% {
             top: -7rem;
             right: 15rem; 
             
         }
     }
     
     .userJoseph {
         position: absolute;
         width: 6rem;
         height: 6rem;
         top: 8.44rem;
         right: 0rem;
         
     }
 
     @keyframes moveJoseph{
         0% {
             top: 8.44rem;
             right:0rem;
         }
         100% {
             top: 9rem;
             right: -23rem;
         }
     }
 
     .userOlivia{
         position: absolute;
         width: 6rem;
         height: 6rem;
         top:  16%;
         left: 5%; 
     }
 
     @keyframes moveOlivia{
         0% {
             top:  16%;
             left: 5%;  
         }
         100% {
             left: -30%;
         }
     }
     
     .location-container {
         font-size: 1rem;
     }
     .location-container img{
         width:1rem;
         height:1rem;
     }
         
     .ds-info {
         margin: 1rem 1.5rem;
         margin-top:1.5rem;
         width: 44rem;
     }
 
     .info-intro h3 {
        line-height: 2rem;
         font-size: 1.5rem;
     }
 
     .info-intro p {
         font-size: 1rem;
         line-height: 1.25rem;
     }
 
     .ft-info {
         margin: 1rem 1.5rem;
         margin-top:1.5rem;
         width: 44rem;
     }
}

/* small screens phones */
@media screen and (min-width: 0px) and (max-width: 767px){
 
    .hero h1 {
       font-size: 1.8rem;
        margin: 5rem 0.4rem;
        line-height: 2.5rem;
        margin-bottom: 1.25rem;
    }
        
    .selection svg { 
        position: absolute;
        width: 7.25rem; /* Adjust as needed */
        margin-left: -0.45rem;
        margin-top: -2rem;
    /* Adjust as needed */
    }
    
    .userLana {
        position: absolute;
        width:6rem;
        height:6rem;
        top: 2rem;
        right: 1.5rem;
        
    }

    @keyframes moveLana {
        0% {
            top: 2rem;
            right: 1.5rem;
        }
        100% {
            top: -7rem;
            right: 15rem; 
            
        }
    }
    
    .userJoseph {
        position: absolute;
        width: 6rem;
        height: 6rem;
        top: 8.44rem;
        right: 0rem;
        
    }

    @keyframes moveJoseph{
        0% {
            top: 8.44rem;
            right:0rem;
        }
        100% {
            top: 9rem;
            right: -23rem;
        }
    }

    .userOlivia{
        position: absolute;
        width: 6rem;
        height: 6rem;
        top:  16%;
        left: 5%; 
    }

    @keyframes moveOlivia{
        0% {
            top:  16%;
            left: 5%;  
        }
        100% {
            left: -30%;
        }
    }
    
    .location-container {
        font-size: 0.8rem;
    }
    .location-container img{
        width:0.8rem;
        height:0.8rem;
    }
        
    .ds-info {
        margin: 1rem 0.5rem;
        margin-top:1.5rem;
        width: 19rem;
    }

    .info-intro h3 {
       line-height: 2rem;
        font-size: 1.1rem;
    }

    .info-intro p {
        font-size: 0.9rem;
        line-height: 1.25rem;
    }

    .ft-info {
        margin: 1rem 0.5rem;
        margin-top:1.5rem;
        width: 19rem;
    }

}