.info-container {
    display: grid;
    place-items: center;
    position: relative;
}

.info {
    position: relative;
    margin-top: 2rem;
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 4.5rem;
    background: var(--sys-light-surface-variant, #FFF);
    /* overlay-light */
    box-shadow: 0px 4px 6px -2px rgba(62, 60, 62, 0.04), 0px 4px 28px 4px rgba(62, 60, 62, 0.12);
    width: 23rem;
    z-index: 1;
}

.info-element-ds {
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    width: 9rem;
    text-align: center;
    color: #EFF0F0;
    transition: 0.3s;

}

.info-element-ft {
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;

    line-height: 1.75rem;
    width: 9rem;
    text-align: center;
    color: #2A2B2D;
    transition: 0.3s;
}


.default {
    position: absolute;
    display: block;
    background: #2A2B2D;
    width: 11rem;
    height: 2.75rem;
    border-radius: 4.5rem;
    transition: 0.3s ease;
    left: 26%;
    z-index: -1;
    transform: translateX(-50%);
}


.info-header {
    top: 1rem;
    left: 29.7536rem;
    opacity: 0;
    position: absolute;
}

.sticky {
    position: sticky;
    top: 4rem; /* Stick to the middle of the header */
    transform: translateY(-50%);
    margin: auto;
    z-index: 1000; /* Adjust as needed */
    width: 50%;
}

#hidsho {
    display: none;
    height: 6rem;
}


/* responsive design */

/* medium screens  tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .info {
        margin-top: 1rem;
        padding: 0.5rem 0.75rem;
        gap: 0.5rem;
        width: 18rem;
        height:2rem;
    }

    .info-element-ds {
        padding: 0.325rem 0.25rem;
        gap: 0.25rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        width: 8rem;
    }

    .info-element-ft {
        padding: 0.325rem 0.25rem;
        gap: 0.25rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        width: 8rem;
    }

    .default {
        width: 9rem;
        height: 2rem;
        left: 26%;
    }

    .sticky {
        top: 6rem; /* Stick to the middle of the header */
        width: 75%;
    }
}

/* small screens phones */
@media screen and (min-width: 0px) and (max-width: 767px){
    
    .info {
        margin-top: 1rem;
        padding: 0.5rem 0.75rem;
        gap: 0.5rem;
        width: 13rem;
        height:1.8rem;
    }

    .info-element-ds {
        padding: 0.325rem 0.25rem;
        gap: 0.25rem;
        font-size: 0.7rem;
        line-height: 1.5rem;
        width: 7rem;
    }

    .info-element-ft {
        padding: 0.325rem 0.25rem;
        gap: 0.25rem;
        font-size: 0.7rem;
        line-height: 1.75rem;
        width: 7rem;
    }

    .default {
        width: 6.5rem;
        height: 2rem;
        left: 26%;
    }

    .sticky {
        top: 5rem; /* Stick to the middle of the header */
        width: 75%;
    }

}
